<% if signed_in? %>
      .
      .
      .
      <section>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
      </section>
      .
      .
      .
<% else %>
  .
  .
  .
<% end %>

<% unless user_signed_in? %>
	<h1>Welcome to DISTRICT</h1>

	<p>
		You have found the homepage of
		<%= link_to "DISTRICT", "http://dstrct.org"%>
	</p>
	<p>
		<%= link_to "Sign Up Now!", new_user_registration_path %>
	</p>
<% end %>
